.Modal {
	background-color: white;
	border: 1px solid #cccccc;
	width: 20%;
	height: auto;
	z-index: 1;
	position: fixed;
	right: 20px;
	padding: 20px;
}

.Modal img {
	max-height: 100px;
	float: left;
	margin-right: 20px;
}

.Modal p {
	color: #222222;
	font-family: sans-serif;
	font-size: 12px;
}

@media screen and (max-width: 500px) {
	.Modal {
		width: 50%;
	}
}
